development:
  host: localhost:3000
  smtp_settings:
    address: smtp.gmail.com
    port: 587
    domain: expences.gleep.ca
    authentication: plain
    enable_starttls_auto: true
    user_name: username
    password: password

production:
  host: expences.gleep.ca
  smtp_settings:
    address: localhost
