<p class="text-center">
  <br><br>
  <%= link_to image_tag("https://developers.google.com/accounts/images/sign-in-with-google.png", alt: "Sign in with Google", width: 300), omniauth_authorize_path(resource_name, :google) %>
</p>
