.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Data
    %li= link_to "Yearly totals", data_path
    %li.nav-header Graphs
    %li= link_to "Monthly expense and income", monthly_expense_income_data_path
    %li= link_to "Expense breakdown", expense_breakdown_data_path
